{% extends 'Apps/base.html' %}
{% block title %}Inventory{% endblock %}

{% block content %}
<h2>Inventory Items</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Threshold</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Basmati Rice</td>
        <td>Kg</td>
        <td>20</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Cooking Oil</td>
        <td>Liters</td>
        <td>10</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Green Chilies</td>
        <td>Kg</td>
        <td>5</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Butter</td>
        <td>Kg</td>
        <td>8</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Disposable Plates</td>
        <td>Units</td>
        <td>50</td>
    </tr>
</tbody>

</table>
{% endblock %}
